// Main Colors
$color-primary: #f39c12;
$color-primary-light-1: #fdedd4;
$color-primary-light-2: #f5b043;
$color-secondary: #e67e22;
$color-grey-1: #bdc3c7;
$color-grey-2: #ddd;

$color-default: #333;

// Grey Colors
$color-grey-3: #eee;
$color-grey-4: #e2e2e2;

//
$color-white: #fff;
$color-offWhite: #f5f5f5;
$color-black: #000;

$color-success: #28a745;
$color-error: #dc3545;
