html {
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button,
a {
  color: #333;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
}

body {
  background-color: #fff;
  padding: 3rem;
}

ul {
  font-weight: 400;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.marginAround {
  margin: 0 8rem;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3rem;
  font-weight: 700;
}
.heading--primary {
  color: #f39c12;
}
.heading--secondary {
  color: #f39c12;
  font-size: 2.8rem;
}

.main {
  background-color: #fff;
}

.section {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  background-color: #eee;
}
.section--gradient {
  background-color: #f39c12;
  background-image: linear-gradient(to right bottom, #f39c12, #e67e22);
}
.section--myRooms {
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: flex-start;
}
.section__header {
  color: #fff;
}
.section__wrapper__inner--form {
  width: -moz-min-content;
  width: min-content;
  padding: 7rem 6rem;
  width: 35%;
  background-color: #fff;
  box-shadow: 0rem 1rem 4rem #ddd;
}

.u-margin-bottom-big {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-top-big {
  margin-top: 5rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-extraSmall {
  margin-top: 1.5rem !important;
}

.u-center {
  text-align: center !important;
}

.color--primary {
  color: #f39c12;
}

.color--error {
  color: #dc3545;
}

.para {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
}

.para--small {
  font-size: 1.4rem;
}

.header .nav {
  padding-bottom: 1rem;
  border-bottom: 2px solid #bdc3c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  background-color: #2c3e50;
}
.header .nav__logo__img {
  height: 4rem;
}
.header .nav__list {
  font-weight: 500;
  color: #fff;
}
.header .nav__list__item {
  cursor: pointer;
  position: relative;
}
.header .nav__list__item::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: all 0.4s;
}
.header .nav__list__item:hover::after {
  width: 100%;
}

.form {
  margin-top: 6rem;
}
.form__field:not(:last-child) {
  margin-bottom: 3rem;
}
.form__field * {
  display: inline-block;
  width: 100%;
}
.form__field__label {
  margin-bottom: 1rem;
}
.form__field__input {
  border-left: 2px solid transparent;
  border: 0.2px solid #e2e2e2;
  outline: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  background-color: #f5f5f5;
  font-size: inherit;
  transition: all 0.1s;
}
.form__field__input:focus {
  border-left: 2px solid #f39c12;
}
.form__field__btn {
  margin-top: 3rem;
  background-color: #f39c12;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 0.4rem;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.1s ease-out;
}
.form__field__btn:hover {
  background-color: #e67e22;
  transform: scale(1.01);
  box-shadow: 0 0.5rem 1rem #bdc3c7;
  cursor: pointer;
}
.form__field__btn--submit {
  border: none;
}

.myRooms__list {
  margin-top: 4rem;
}
.myRooms__list__item {
  border-radius: 1rem;
  transition: all 0.2s;
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}
.myRooms__list__item > * {
  padding: 0 3rem;
}
.myRooms__list__item__header {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #f39c12;
  background-image: linear-gradient(to right, #f39c12, #e67e22);
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
}
.myRooms__list__item__header__title {
  margin-bottom: 3rem;
  font-size: 2.2rem;
}
.myRooms__list__item__material {
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.myRooms__list__item__material__heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.myRooms__list__item__material--recent {
  font-size: 1.3rem;
}
.myRooms__list__item__leader {
  border-top: 1px solid #bdc3c7;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.4rem;
  text-align: right;
}
.myRooms__list__item:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
}

.section--grpDetails {
  padding-top: 10rem;
}
.grpDetails__wrapper {
  width: 100%;
  padding: 0 20rem;
}
.grpDetails__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 2rem;
  background-color: #fff;
}
.grpDetails__header__validity {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #888;
}
.grpDetails__header__heading {
  margin-bottom: 2rem;
}
.grpDetails__header__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grpDetails__header__btn--upload {
  border: 2px solid red;
  cursor: pointer;
}
.grpDetails__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
}
.grpDetails__materials {
  width: 50%;
}
.grpDetails__materials__heading {
  margin-bottom: 4rem;
}
.grpDetails__materials__list {
  width: 100%;
}
.grpDetails__materials__list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}
.grpDetails__materials__list__item:not(:last-child) {
  border-bottom: 1px solid #bdc3c7;
}
.grpDetails__materials__list__item__btnDownload {
  height: 3rem;
  width: 3rem;
  fill: #f39c12;
  cursor: pointer;
  transition: all 0.2s;
}
.grpDetails__materials__list__item__btnDownload:hover {
  transform: scale(1.03);
  fill: #e67e22;
}
.grpDetails__members__heading {
  margin-bottom: 2rem;
}/*# sourceMappingURL=main.css.map */