header.header
  nav.nav
    a(href = "/").nav__logo
      img.nav__logo__img(
        src="/res/images/logo--white.png"
        alt="Logo"
      )

    ul.nav__list
      if user
        li.nav__list__item.nav__list__item--user= `Welcome, ${user.name}`
        li.nav__list__item
          a.nav__list__item__logout Log out 
      else
        li.nav__list__item
          a(href = "/login") Login
  
-if(!newUser)
  .modalAlert 
    .modalAlert__content 
      p.modalAlert__para
      .modalAlert__btn--ok OK

