extends base

block content 
  main.main 
    section.section.section--login
      .section__form__svg
        img(src = "/res/images/security_form_bg.svg")

      .section__wrapper__inner--form
        .login
          .login__header 
            .heading.heading--secondary Login
          form.form.form--login
            .form__field
              label.form__field__label Email
              input.form__field__input.email(type="email")
            .form__field
              label.form__field__label Password
              input.form__field__input.password(type="password")
            .form__field 
              button.form__field__btn.form__field__btn--submit.btn.btn--primary Login
            
          .login__footer 
            a(href=`/signup`).login__footer__createAcc New ?  Join Now !
  





