html {
  font-size: 10px;
  scroll-behavior: smooth;
}
@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button,
a {
  color: #333;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 500;
}

body {
  background-color: #fff;
  padding: 3rem;
  line-height: 140%;
}
@media (max-width: 1000px) {
  body {
    padding: 0;
  }
}

ul {
  font-weight: 400;
  list-style-type: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

.marginAround {
  margin: 0 8rem;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}
.heading--primary {
  font-size: 3.5rem;
  color: #f39c12;
}
.heading--secondary {
  color: #f39c12;
  font-size: 3rem;
}
.heading--tertiary {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.main {
  background-color: #fff;
}

.section {
  display: flex;
  justify-content: space-around;
  padding: 6rem 0;
  background-color: #eee;
}
@media (max-width: 1000px) {
  .section {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .section {
    padding: 4rem 0;
  }
}
.section__form__svg img {
  width: 75rem;
}
@media (max-width: 1366px) {
  .section__form__svg img {
    width: 60rem;
  }
}
@media (max-width: 1000px) {
  .section__form__svg img {
    display: none;
  }
}
.section--login, .section--signup {
  background-image: linear-gradient(to right bottom, rgba(243, 157, 18, 0.4), rgba(230, 125, 34, 0.8));
  background-size: content;
  background-repeat: no-repeat;
}
@media (max-width: 1000px) {
  .section--login, .section--signup {
    background-image: none;
  }
}
@media (max-width: 600px) {
  .section--login, .section--signup {
    padding: 0;
  }
}
.section--gradient {
  background-color: #f39c12;
  background-image: linear-gradient(to right bottom, #f39c12, #e67e22);
}
.section--myRooms {
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: flex-start;
}
.section__header {
  color: #fff;
}
.section__wrapper__inner--form {
  width: min-content;
  padding: 6rem;
  width: 48rem;
  background-color: #fff;
}
@media (max-width: 1366px) {
  .section__wrapper__inner--form {
    margin-right: 2rem;
  }
}
@media (max-width: 1000px) {
  .section__wrapper__inner--form {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .section__wrapper__inner--form {
    background-image: transparent;
  }
}

.login__footer__createAcc {
  margin-top: 3rem;
  transition: all 0.4s;
}
.login__footer__createAcc:hover {
  color: #e67e22;
  transform: scale(1.05);
}

.color--primary {
  color: #f39c12;
}

.color--error {
  color: #dc3545;
}

.btn {
  padding: 1rem 2.5rem;
  border-radius: 0.4rem;
  display: inline-block;
  width: fit-content;
  border: none;
  color: #333;
  background-color: #f5f5f5;
  box-shadow: 0 0.2rem 0.3rem #bdc3c7;
  transition: all 0.1s ease-out;
}
.btn:hover {
  transform: scale(1.01);
  box-shadow: 0 0.5rem 1rem #bdc3c7;
  cursor: pointer;
}
.btn--primary {
  background-color: #f39c12;
  color: #fff;
}
.btn--primary:hover {
  background-color: #e67e22;
}
.btn--linkCopy {
  width: 20rem;
  text-align: center;
}

.showAlert {
  display: block !important;
}

.modalAlert {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2349;
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0.6);
}
.modalAlert__content {
  display: inline-block;
  padding: 4rem 6rem;
  border-radius: 0.3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: 0.4s ease-in fadeAlert forwards;
  text-align: center;
  background-color: #fff;
}
.modalAlert__btn--ok {
  border: 1px solid #333;
  padding: 0.6rem 3rem;
  border-radius: 0.2rem;
  width: fit-content;
  margin-top: 3rem !important;
  cursor: pointer;
  transition: all 0.3s;
  margin: auto;
}
.modalAlert__btn--ok:hover {
  transform: scale(1.07);
}
.modalAlert__para__grpName {
  color: #e67e22;
  font-weight: 600;
}

@keyframes fadeAlert {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.grey-text {
  color: #777;
}

.formInput__error {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.scrollbarCustom::-webkit-scrollbar {
  width: 0.8rem;
}
.scrollbarCustom::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10rem;
}
.scrollbarCustom::-webkit-scrollbar-thumb {
  background-color: #ced6e0;
  border-radius: 10rem;
}

.header .nav {
  padding-bottom: 1rem;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  background-color: #333;
  box-shadow: 0 0.2rem 1rem #bdc3c7;
}
@media (max-width: 600px) {
  .header .nav {
    padding: 2rem;
  }
}
.header .nav__logo__img {
  height: 4rem;
}
@media (max-width: 600px) {
  .header .nav__logo__img {
    height: 3.5rem;
  }
}
.header .nav__list {
  font-weight: 500;
  color: #fff;
  display: flex;
  flex-direction: row;
}
.header .nav__list__item {
  cursor: pointer;
  position: relative;
}
.header .nav__list__item:not(:last-child) {
  margin-right: 8rem;
}
@media (max-width: 600px) {
  .header .nav__list__item:not(:last-child) {
    display: none;
  }
}
.header .nav__list__item:not(.header .nav__list__item--user)::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: all 0.4s;
}
.header .nav__list__item:not(.header .nav__list__item--user):hover::after {
  width: 100%;
}

.main {
  box-shadow: 0 0.5rem 1rem #bdc3c7;
}

.chatRoom {
  display: none;
  position: relative;
}
.chatRoom__container {
  overflow: auto;
  height: 60rem;
  padding-top: 5rem;
}
.chatRoom__heading {
  padding: 0 4rem;
  font-size: 1.6rem;
}
.chatRoom__messages {
  padding: 3rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.chatRoom__messages__list {
  margin-bottom: 1rem;
}
.chatRoom__messages__list__item {
  list-style: none;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  display: flex;
}
.chatRoom__messages__list__item__info {
  display: flex;
  flex-basis: fit-content;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1.5px solid #f5b043;
}
.chatRoom__messages__list__item__info__user {
  color: #e67e22;
  font-weight: 700;
  font-size: 1.2rem;
}
.chatRoom__messages__list__item__info__time {
  font-size: 1rem;
  letter-spacing: 0;
  text-align: right;
  font-weight: 500;
  margin-left: 1rem;
}
.chatRoom__messages__list__item--left > div {
  background-color: #fff;
}
.chatRoom__messages__list__item--right {
  justify-content: right;
}
.chatRoom__messages__list__item--right > div {
  background-color: #fdedd4;
  border: none;
}
.chatRoom__form {
  display: flex;
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 0;
  background-color: #f5f6f6;
}
.chatRoom__form__input {
  flex: 90% 1 1;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 1rem;
  border: none;
}
.chatRoom__form__input:focus {
  outline: none;
}
.chatRoom__form__sendBtn {
  padding: 1rem 2.5rem;
  border-radius: 0.4rem;
  display: inline-block;
  width: fit-content;
  border: none;
  color: #333;
  background-color: transparent;
}
.chatRoom__form__sendBtn > ion-icon {
  color: #333;
  width: 2.5rem;
  height: 2.5rem;
}

.footer {
  background-color: #333;
  padding: 4rem;
  color: #eee;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.footer__dev {
  margin-top: 2rem;
  font-weight: 400;
}

.form {
  margin-top: 6rem;
}
.form__field:not(:last-child) {
  margin-bottom: 2.5rem;
}
.form__field * {
  display: inline-block;
  width: 100%;
}
.form__field__label {
  margin-bottom: 1rem;
}
.form__field__input {
  border: 0.2px solid #fdedd4;
  border-left: 0.2rem solid #f5b043;
  border-right: 0.2rem solid #f5b043;
  outline: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  background-color: #f5f5f5;
  font-size: inherit;
  transition: all 0.1s;
}
.form__field__input:focus {
  border-left: 1rem solid #f39c12;
  border-right: 1rem solid #f39c12;
}
.form__field__btn {
  margin-top: 2rem;
  width: fit-content;
}

.myRooms__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 31rem);
  row-gap: 5rem;
  justify-content: space-around;
  margin-top: 7rem;
}
.myRooms__list::after {
  content: "";
  flex: auto;
}
.myRooms__list__item {
  text-align: left;
  border-radius: 1rem;
  transition: all 0.2s;
  display: block;
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}
.myRooms__list__item > * {
  padding: 0 3rem;
}
.myRooms__list__item__header {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #f39c12;
  background-image: linear-gradient(to right, #f39c12, #e67e22);
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  clip-path: ellipse(91% 89% at 11% 11%);
}
.myRooms__list__item__header__title {
  margin-bottom: 4rem;
  font-size: 2.7rem;
}
.myRooms__list__item__header__sub {
  margin-bottom: 5rem;
}
.myRooms__list__item__material {
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.myRooms__list__item__material__heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.myRooms__list__item__material--recent {
  font-size: 1.3rem;
}
.myRooms__list__item__leader {
  border-top: 1px solid #bdc3c7;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.4rem;
  text-align: right;
  font-weight: 600;
}
.myRooms__list__item:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
}

.section--grpDetails {
  padding-top: 6rem;
}
.grpDetails__wrapper {
  width: 100%;
  padding: 0 15rem;
}
@media (max-width: 1366px) {
  .grpDetails__wrapper {
    padding: 0 8rem;
  }
}
@media (max-width: 1000px) {
  .grpDetails__wrapper {
    padding: 0 3rem;
  }
}
@media (max-width: 600px) {
  .grpDetails__wrapper {
    padding: 0 2rem;
  }
}
.grpDetails__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  padding: 4rem 5rem;
  background-color: #fff;
}
@media (max-width: 1000px) {
  .grpDetails__header {
    padding: 4rem;
  }
}
@media (max-width: 600px) {
  .grpDetails__header {
    flex-direction: column;
    padding: 3rem;
    text-align: center;
  }
}
.grpDetails__header__validity {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #888;
}
.grpDetails__header__heading {
  margin-bottom: 4rem;
}
.grpDetails__header__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .grpDetails__header__right {
    margin-top: 4rem;
  }
}
.grpDetails__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}
.grpDetails__contents--leftSide {
  flex: 70% 1 1;
}
.grpDetails__contents__tabs__btns {
  display: flex;
  border: 1.5px solid #ddd;
  color: #000;
}
.grpDetails__contents__tabs__btns button {
  flex-basis: 50%;
  padding: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.grpDetails__contents__tabs__btns--active {
  background-color: #f39c12;
}
.grpDetails__contents__tabs__btns--chatRoom {
  background-color: #fff;
}
@media (max-width: 600px) {
  .grpDetails__contents {
    flex-direction: column;
  }
}
.grpDetails__materials {
  padding: 5rem;
  overflow: auto;
  height: 60rem;
  padding-top: 5rem;
}
@media (max-width: 1000px) {
  .grpDetails__materials {
    padding: 4rem;
  }
}
@media (max-width: 600px) {
  .grpDetails__materials {
    padding: 2rem;
    padding-top: 4rem;
  }
}
.grpDetails__materials__heading {
  margin-bottom: 5rem;
}
@media (max-width: 600px) {
  .grpDetails__materials__heading {
    text-align: center;
    margin-bottom: 3rem;
  }
}
.grpDetails__materials__list {
  width: 100%;
}
.grpDetails__materials__list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.grpDetails__materials__list__item:not(:last-child) {
  border-bottom: 1px solid #fdedd4;
}
.grpDetails__materials__list__item__btnDownload > ion-icon {
  height: 3rem;
  width: 3rem;
  fill: #f39c12;
  cursor: pointer;
  transition: all 0.2s;
}
.grpDetails__materials__list__item__btnDownload > ion-icon:hover {
  transform: scale(1.03);
  fill: #e67e22;
}
.grpDetails__materials__upload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8rem;
  background-color: #fff;
}
@media (max-width: 600px) {
  .grpDetails__materials__upload {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
.grpDetails__members {
  padding: 5rem;
  background-color: #dfe4ea;
  color: #000;
}
@media (max-width: 1000px) {
  .grpDetails__members {
    padding: 4rem;
  }
}
.grpDetails__members__heading {
  margin-bottom: 5rem;
}
.grpDetails__members__list__item {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.grpDetails__members__list__item ion-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}
@media (max-width: 600px) {
  .grpDetails__footer__btn--upload {
    margin-top: 2rem;
  }
}

.inputFile--Custom__btn {
  margin-right: 2rem;
}

.dashboard {
  width: 100%;
}
.dashboard__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .dashboard__header {
    text-align: center;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .dashboard__header__btns {
    margin-top: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
