.form {
  margin-top: 6rem;

  &__field {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
    * {
      display: inline-block;
      width: 100%;
      //   color: $color-white;
    }
    &__label {
      margin-bottom: 1rem;
      // font-weight: ;
    }

    &__input {
      border: 0.2px solid $color-primary-light-1;
      border-left: 0.2rem solid $color-primary-light-2;
      border-right: 0.2rem solid $color-primary-light-2;
      outline: none;
      padding: 0.8rem 1.5rem;
      border-radius: 0.4rem;
      background-color: $color-offWhite;
      font-size: inherit;
      transition: all 0.1s;

      &:focus {
        border-left: 1rem solid $color-primary;
        border-right: 1rem solid $color-primary;
      }
    }

    &__btn {
      margin-top: 2rem;
      width: fit-content;
    }
  }
}
