.header {
  .nav {
    padding-bottom: 1rem;
    border-bottom: 2px solid $color-grey-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    background-color: $color-default;
    box-shadow: 0 0.2rem 1rem $color-grey-1;

    @include respond(phone) {
      padding: 2rem;
    }
    &__logo {
      // display: inli
      &__img {
        height: 4rem;
        @include respond(phone) {
          height: 3.5rem;
        }
      }
      // margin-left: 3rem;
    }

    &__list {
      font-weight: 500;
      color: $color-white;
      display: flex;
      flex-direction: row;

      &__item {
        cursor: pointer;
        position: relative;

        &:not(:last-child) {
          margin-right: 8rem;

          @include respond(phone) {
            display: none;
          }
        }

        &:not(&--user) {
          &::after {
            content: '';
            position: absolute;
            top: 110%;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: $color-white;
            transition: all 0.4s;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }

  &__form {
    &__input {
      padding: 1rem 2rem;
      border: 1px solid $color-grey-2;
      margin-right: 1rem;
      width: 35rem;
      border-radius: 0.5rem;
      outline: none;

      @include respond(tab) {
        width: 30rem;
      }

      @include respond(phone) {
        margin-right: 0.5rem;
        width: max-content;
      }
    }

    & button {
      @include respond(phone) {
        margin-top: 1rem;
      }
    }

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }
}
.main {
  box-shadow: 0 0.5rem 1rem $color-grey-1;
}
