html {
  font-size: 10px;
  scroll-behavior: smooth;
  // @include respond(tab) {
  //   font-size: 9px;
  // }

  // @include respond(phone) {
  //   font-size: 8.5px;
  // }

  @include respond(tab) {
    font-size: 9px;
  }

  // @include respond(phone) {
  //   font-size: 8px;
  // }
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button,
a {
  color: $color-default;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 500;
}

body {
  // border: 2px solid red;
  background-color: $color-white;
  padding: 3rem;
  line-height: 140%;

  @include respond(tab) {
    padding: 0;
  }
  // background-color: $color-grey-light-1;
}

ul {
  font-weight: 400;
  list-style-type: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

.marginAround {
  margin: 0 8rem;

  // @include respond(mini-lap) {
  //   margin: 0 4rem;
  // }

  // @include respond(tab) {
  //   margin: 0 2rem;
  // }
}

//HEADING
.heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  // @include respond(phone) {
  //   font-size: 3.2rem;
  // }

  &--primary {
    font-size: 3.5rem;
    color: $color-primary;
  }

  &--secondary {
    color: $color-primary;
    font-size: 3rem;
  }

  &--tertiary {
    font-size: 2.5rem;
    text-transform: capitalize;
  }
}

.main {
  background-color: $color-white;
}

// Login Section

.section {
  display: flex;
  justify-content: space-around;
  padding: 6rem 0;
  background-color: $color-grey-3;

  @include respond(tab) {
    justify-content: center;
  }

  @include respond(phone) {
    padding: 4rem 0;
  }

  &__form__svg {
    & img {
      width: 75rem;

      @include respond(mini-lap) {
        width: 60rem;
      }

      @include respond(tab) {
        display: none;
      }
    }
  }

  &--login,
  &--signup {
    background-image: linear-gradient(
      to right bottom,
      rgba(243, 157, 18, 0.4),
      rgba(230, 125, 34, 0.8)
    );
    background-size: content;
    background-repeat: no-repeat;

    @include respond(tab) {
      background-image: none;
    }

    @include respond(phone) {
      padding: 0;
    }
  }

  &--gradient {
    background-color: $color-primary;
    background-image: linear-gradient(
      to right bottom,
      $color-primary,
      $color-secondary
    );
  }
  &--myRooms {
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: flex-start;
  }

  &__header {
    color: $color-white;
  }

  &__wrapper__inner--form {
    width: min-content;
    padding: 6rem;
    // opacity: 0.8;
    // border: 2px solid $color-primary-light-1;
    width: 48rem;
    // margin-right: 10rem;
    background-color: $color-white;
    // box-shadow: 0rem 1rem 4rem $color-grey-2;
    @include respond(mini-lap) {
      margin-right: 2rem;
    }

    @include respond(tab) {
      margin-right: 0;
    }

    @include respond(phone) {
      background-image: transparent;
    }
  }
}

// Login Page
.login {
  &__footer {
    &__createAcc {
      margin-top: 3rem;
      transition: all 0.4s;
      &:hover {
        color: $color-secondary;
        transform: scale(1.05);
      }
    }
  }
}
