.color--primary {
  color: $color-primary;
}

.color--error {
  color: $color-error;
}

.btn {
  padding: 1rem 2.5rem;
  border-radius: 0.4rem;
  display: inline-block;
  width: fit-content;
  border: none;
  color: $color-default;
  background-color: $color-offWhite;
  box-shadow: 0 0.2rem 0.3rem $color-grey-1;
  transition: all 0.1s ease-out;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0.5rem 1rem $color-grey-1;
    cursor: pointer;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    &:hover {
      background-color: $color-secondary;
    }
  }

  &--default {
    background-color: $color-default;
    color: $color-white;
    &:hover {
      background-color: #222;
    }
  }

  &--linkCopy {
    width: 20rem;
    text-align: center;
  }
  &--deleteGrp {
    margin-top: 2.5rem;
    color: $color-error;
    // color: $color-white;
  }
  &--joinCodeGenerate {
    margin-top: 3rem;
  }
}

// Alert
.showAlert {
  display: block !important;
}
.modalAlert {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2349;
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0.6);

  &__content {
    display: inline-block;
    padding: 4rem 6rem;
    border-radius: 0.3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: 0.4s ease-in fadeAlert forwards;
    text-align: center;
    background-color: $color-white;

    // @include respond(phone) {
    //   padding: 3rem 2rem;
    //   width: 90%;
    // }
  }
  &__btn--ok {
    border: 1px solid $color-default;
    padding: 0.6rem 3rem;
    border-radius: 0.2rem;
    width: fit-content;
    margin-top: 3rem !important;
    cursor: pointer;
    transition: all 0.3s;
    margin: auto;
    &:hover {
      transform: scale(1.07);
    }

    // @include respond(phone) {
    //   padding: .5rem 3rem;
    //   margin-top: 2rem;
    // }
  }
  &__para {
    &__grpName {
      color: $color-secondary;
      font-weight: 600;
    }
  }
}

@keyframes fadeAlert {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grey-text {
  color: $light-text;
}

.formInput__error {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.show {
  display: block !important;
}
.scrollbarCustom {
  // Customizing Scrollbar
  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ced6e0;
    border-radius: 10rem;
  }
}

// CONFIRMATION POPUP MODAL
.modal-confirmation {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  &__content {
    width: 30%;
    margin-left: 35%;
    position: absolute;
    top: 30%;
    background-color: $color-white;
    padding: 4rem 3rem;
    text-align: center;
    animation: scaleConfirmPopup 0.4s forwards;
    transform: scale(0.6);
  }

  &__btns {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    &__btn {
      display: inline-block;
      cursor: pointer;
      padding: 0.2rem 2rem;
      border-radius: 4px;
      color: $color-white;
      transition: 0.3s all;

      &--yes {
        background-color: $color-success;
      }
      &--no {
        background-color: $color-error;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@keyframes scaleConfirmPopup {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @media only screen and (min-width: 700px) {
    left: 50%;
    transform: translateX(-50%);
  }

  &--show {
    display: block !important;
    z-index: 5 !important;
  }

  &--showTop {
    display: block !important;
    z-index: 10 !important;
  }

  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1.2px solid #ccc;
    padding: 1rem 0;

    &__backBtn {
      margin-left: 1rem;
      margin-right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      fill: $color-default;
    }
  }

  &--forLoader {
    z-index: 2;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
