.dashboard {
  width: 100%;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond(phone) {
      text-align: center;
      flex-direction: column;
    }
    &__btns {
      @include respond(phone) {
        margin-top: 3rem;
      }
    }
  }
}
